Basic Error Objects

[RFC7644 §3.12](https://datatracker.ietf.org/doc/html/rfc7644#section-3.12) define a set of errors. pydantic-scim2 should provide objects for those.